DB_URL=jdbc:postgresql://gupang-db:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres

# Redis
REDIS_HOST=user-redis
REDIS_PORT=6379

# Keycloak
KEYCLOAK_CLIENT_ID=all-services
KEYCLOAK_CLIENT_SECRET=secret-template
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8100
KEYCLOAK_REALM=Gu-Pang

# Eureka
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/

# Spring
SERVER_PORT=19030